.App {
  text-align: center;
}

.headerbtn{
  color: white;
  text-decoration: none;
  border: thick solid white;
  padding: .25em .5em;
  margin: .5em;
  border-radius: .5em;
  font-family: 'Arial Rounded MT Bold';
}
.headerbtn:hover{
  color: theme-color("primary");
  background-color: white;
}

footer {
  color: #717B84;
  border: 2px solid #DADADA;
}